.article__item--rock {
  background: #caa41b;
}

.article__item--water {
  background: #0c8ca9;
}

.article__item--electric {
  background: #b3b700;
}

.article__item--grass {
  background: #245e20;
}

.article__item--poison {
  background: #5c0088;
}

.article__item--psychic {
  background: #ac0067;
}

.article__item--fire {
  background: #bb5a00;
}

.article__item--ice {
  background: #00aab5;
}

.article__item--fighting {
  background: #c30000;
}

.article__item--ghost {
  background: #bf00a1;
}

.article__item--dragon {
  background: #5800c8;
}

.article__item--bug {
  background: #6c9f00;
}

.article__item--normal {
  background: #bdaa00;
}

.article__item--ground {
  background: #c0c300;
}

.article__item--fairy {
  background: #a300bd;
}

.article__item--flying {
  background: #5f00aa;
}

.article__item--steel {
  background: #0037a1;
}
